@import (inline) '../../node_modules/corenav/coreNavigation.css';

@green : #2f9e41; @glight:#66d06e; @gdark:#006e13;
@violet : #5a0586; @vlight:#8b3db7; @vdark: #290058;

body {
  margin: 0;
  background-color: #f4f7f6;
}
*{font-family: Helvetica;

//cursor:url(img/cursor.png),auto !important;
}
h2{
  font-size: 48px;
  color:#3a3a3a;
}
h3{
  font-size: 24px;
  font-weight: 500;
  color:#999;
}
.hidden{
  display: none;
}
#home{
  position: relative;
  top:-69px;
  left:0;
  height: 100vh;
  background: url(img/home.jpg) center right;
  background-size: cover;
  #home-content{
    position: absolute;
    height: 400px;
    width: 520px;
    bottom:14%;
    left:7%;
    h1{
      font-size: 148px;
      margin-top:0;margin-bottom: 40px;
      color:#fff;
    }
    p{color:#fff;}
    p:first-of-type{width:400px;}
    img{width:160px;}
    #appstore img{
      width: 130px;
      transform: translateY(-10px);
      }
  }
}
.mockup{position: relative;}
.rellax{position: absolute;top:0;left:180px;}
#content {
  color: #000;
  padding: 50px;
  width:1170px;
  margin: auto;
  p {
    color:#3a3a3a;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  .fct{
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    h2 {
      overflow: hidden;
      position: relative;
    }
    h2::after {
      content: '';
      width: 40px;
      height: 5px;
      background: @violet;
      position: absolute;
      top: 50%;
      margin-left: 1rem;
    }
    div{
      padding: 20px;
    }
    .number{
      font-size: 32px;
      color:@violet;
      font-weight: 600;
      padding: 8px 18px;
      border: solid 3px @violet;
      border-radius: 40px;
    }
  }
}
.dl{
  padding: 15px 15px 0 15px;
  text-align: center;
  position: relative;
  #appstore{
    img{width:155px;padding-bottom: 10px;}
  }
  img{width:180px;}
  #dl-phone{
    margin:0;
    height: 260px;
    overflow: hidden;
    img{
      width: 400px;
    }
  }
}



// ------ FOOTER ---- ////
footer{
  padding: 30px 15px 15px;
  background-color: #1E1E1E;
  color:#fff;
  #footer-top{
    #newsletter form{
      display:flex;
      flex-direction:row;
      border-bottom: 1px solid #ccc;
      input {
        flex-grow:2;
        border:none;
        color:#fff;
      }
      svg{
        width: 20px;
        height: 50px;
        cursor: pointer;
        path:hover{fill:#fff;}
      }
    }
    padding: 0 60px;
    .list-abt{
      transform: translateY(-50px);
    }
    display: grid;
    align-items: center;
    grid-column-gap: 4em;
    grid-template-columns:30% 60%;
    .footer-list  {
      img{width:130px;
      transform: translateY(10px);}
      margin-bottom: 0;
      list-style: none;
      padding:15px 0 0 0;
      display: flex;
      justify-content: space-around;
      text-align: center;
      li{text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        a{color:#fff;text-decoration: none; }
        display: inline-block;
        vertical-align: text-top;
        padding: 10px;
        margin:0;
        ul{
          padding-left:5px;
          display: block;
          margin: 20px 0;
          text-align: left;
          li{ display: block;
            text-transform: none;
            a{
            text-decoration: none;
            color: #a3a3a3;
            font-weight: 300;
            &:hover{color:#fff;}
            }
          }
        }
      }
    }
  }
  #footer-bot{
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    ul{text-align: right;
    }
    p{color: #a3a3a3;}
    .fab{
      color:#a3a3a3;
      font-size: 24px;
      &:hover{color:#fff;}
    }
  }
  img{
    width: 160px;
    padding: 10px;
  }
  ul{ margin:40px 0;
    li{
    display: inline;
    margin: 10px;
    padding:10px 0;
    }
  }
  hr{margin: 10px 30px;}
}



// ------ NAVIGATION ------- //
.core-nav .wrap-core-nav-list .core-nav-list, .core-nav .wrap-core-nav-list .attributes{margin: 8px 0 -1px 0;}
.core-nav .dropdown>.dropdown-menu{
  border:none;
  background:none;
  li>a {border:none;}
}
.core-nav{
  min-height: 69px;
  .brand {
    display: block;
    position: relative;
    width: 100px;
    top: 20px;
    img{width: 100%;}
  }
  .menu li a {
    display: block;
    padding: 20px 18px 10px;
    text-decoration: none;
    color: #3a3a3a;
    &:hover {color: @violet;}
  }
}


@media (max-width: 992px) {
  #parallax-container {
    height: calc(100vh - 60px);
  }
    .core-responsive-slide.open .core-nav .wrap-core-nav-list{background-color:#fff};
    nav .full-container, nav .nav-container {
        padding-left: 0;
        padding-right: 0;
    }
    nav .nav-header {
        min-height: 60px;
        .brand {
            margin: 0 auto 5px;
            float: none;
        }
        .toggle-bar {
            font-size: 18px;
            position: absolute;
            top: 17px;
            left: 15px;
        }
        .menu li a {
            padding: 10px 10px;
            border-bottom: solid 1px #efefef;
        }
    }
}

.fab{
  color:@vlight;
  &:hover{
    color:@violet;
  }
}


// ----- ABOUT ----- //
#about{
  padding: 20px;
  div{
    p{
      font-size: 20px;
      color:#2a2a2a;
    &:nth-of-type(2){
      font-size:18px;
      color: #3a3a3a;
    }
  }
  }
}
#startup{
  display: grid;
  grid-template-columns: 60% auto;
  grid-column-gap: 25px;
  overflow: hidden;
  align-items: center;
}
.border{
  width: 90px;
  height: 1px;
  border: 2px solid @violet;
}
.abt{
  width:1120px;
  margin:90px auto 200px;
  line-height: 1.5;
}
#team{
  width:60%;
}

#join{
  h2{
    text-align: right;
  }
  .border{
    float: right;
  }
}

#partner{
  h2{
    text-align: center;
  }
}

// CONTACT //
#content_form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  padding:60px 60px 0 25px;
  height: 800px;
  h2{margin-left: -20px;}
  ul li{
      display: inline;
      a{
      font-size: 28px;
      padding:15px;
      }
    }
  p, a{
    font-size: 24px;
    color: #3a3a3a;
    line-height: 1.93;
    text-decoration: none;
  }
  a:hover{
    color:@violet;
  }
}

#newsletter input[type="email"],
#form input[type="text"],
#form input[type="email"],
#form textarea,
#form button[type="submit"] {
  font: 400 18px "Roboto", Helvetica, Arial, sans-serif;
}

#form {
  width:90%;
  padding: 25px;
  height:100%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form input[type="text"],
#newsletter input[type="email"],
#form input[type="email"],
#form textarea {
  width: 100%;
  border:none;
  border-bottom: 1px solid #ccc;
  background: none;
  margin: 0 0 5px;
  padding: 10px;
}

#form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: @vlight;
  color: #FFF;
  margin: 25px 0 5px;
  padding: 10px;
  font-size: 18px;
  &:hover {
    background: @violet;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
}

#form input:focus, #form textarea:focus, #newsletter input:focus{
    outline: none;
    border-bottom: 1px solid @violet;
}

//  ------ DECRETS ------ //

#news{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items:center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  .img-actu{
    width:100%;
    overflow: hidden;
    img{max-width: 100%;display: block;
      transform: scale(1);
   transition: transform 0.7s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
    .info{
      padding:15px;
      background-color: #fff;
      h3{color:#3a3a3a; margin:10px 0;}
      .resume{color:#999; font-size: 14px;}
      .suite{text-align: right;
        a{text-decoration: none; color:@violet;}
      }
      .footer-info{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color:#999;
        p{margin-bottom: 5px;
        &:nth-of-type(2){text-align: right;}}
      }
    }
  }




//  ------ FRANCE ------ //
path:hover{fill: @vlight;}
#stat{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items:center;
  text-align: center;
  span{
    font: 600 64px Helvetica;
    color:@violet;
  }
  p{color:#3a3a3a;font-size: 18px;}
}
