@import (inline) '../../node_modules/corenav/coreNavigation.css';

@green : #2f9e41; @glight:#66d06e; @gdark:#006e13;
@violet : #5a0586; @vlight:#8b3db7; @vdark: #290058;

body {
  margin: 0;
  background-color: #f4f7f6;
  font-family: Helvetica;
}
h2{
  font-size: 48px;
  color:#3a3a3a;
}

.hidden{
  display: none;
}

// ------ ACCUEIL ----- ////

#home{
  position: relative;
  top:-69px;
  left:0;
  height: 100vh;
  background: url(img/home.png) center center;
  background-size: cover;
  #home-content{
    position: absolute;
    height: 360px;
    width: 520px;
    bottom:14%;
    left:6%;
    h1{
      font-size: 128px;
      margin:0 0 40px -0.07em;
      color:#fff;
    }
    h2{
      font-size: 34px;
      color:#fff;
      font-weight: 500;
      margin:60px 0;
    }
    img{width:180px;}
    #appstore img{
      width: 150px;
      margin-right: 10px;
      transform: translateY(-10px);
    }
  }
}
#content {
  color: #000;
  padding: 50px;
  width:1170px;
  margin: auto;
  p {
    color:#3a3a3a;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  .fct{
    padding: 70px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: top;
    h2 {
      overflow: hidden;
      position: relative;
    }
    h2::after {
      content: '';
      width: 40px;
      height: 5px;
      background: @violet;
      position: absolute;
      top: 50%;
      margin-left: 1rem;
    }
    .fct-content{margin-top: 50px;}
    div{
      padding: 20px;
    }
    .number{
      font-size: 32px;
      color:@violet;
      font-weight: 600;
      padding: 8px 18px;
      border: solid 3px @violet;
      border-radius: 40px;
    }
    .mockup{
      position: relative;
      .rellax{position: absolute;top:0;left:180px; width:280px;}
    }
  }
}
.dl{
  padding: 15px 15px 0 15px;
  text-align: center;
  position: relative;
  #appstore{
    img{width:150px;padding-bottom: 10px;margin-right: 10px;}
  }
  img{width:180px;}
  #dl-phone{
    margin:0;
    height: 260px;
    overflow: hidden;
    img{
      width: 400px;
    }
  }
}

// ------ NAVIGATION ------- //

.core-nav .wrap-core-nav-list .core-nav-list, .core-nav .wrap-core-nav-list .attributes{margin: 8px 0 -1px 0;}
.core-nav .dropdown>.dropdown-menu{
  border:none;
  background:none;
  li>a {border:none;}
}
.core-nav{
  min-height: 69px;
  .brand {
    display: block;
    position: relative;
    width: 100px;
    top: 20px;
    img{width: 100%;}
  }
  .menu li a {
    display: block;
    padding: 20px 18px 10px;
    text-decoration: none;
    color: #3a3a3a;
    &:hover {color: @violet;}
  }
}

.fab{
  color:@vlight;
  &:hover{
    color:@violet;
  }
}


// ----- ABOUT ----- //
.abt{
  width:1120px;
  margin:90px auto 200px;
  line-height: 1.5;
  h1{
    font-size: 48px;
    color:#3a3a3a;
  }
  h2{
    font-size: 36px;
    font-weight:600;
    color:#4a4a4a;
  }
  p{
    font-size: 18px;
    color:#2a2a2a;
    margin:50px 0;
  }
}
#about-container{
  padding:0 20px;
}
#about{
  display: grid;
  grid-template-columns: 45% auto;
  grid-column-gap: 25px;
  overflow: hidden;
  align-items: top;
  img{padding:10px;}
}
.border{
  width: 90px;
  height: 1px;
  border: 2px solid @violet;
}

//  ------ DECRETS ------ //

#news{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items:center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  .info{height:317px;}
  .img-actu{
    width:100%;
    overflow: hidden;
    img{width: 100%;height: 238px;display: block;
      transform: scale(1);
      transition: transform 0.7s ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
    .info{
      position: relative;
      padding:15px;
      background-color: #fff;
      p{margin:0 0 5px;}
      h2{color:#3a3a3a; margin:10px 0; font-size: 24px; font-weight: 500;}
      .resume{color:#999; font-size: 16px;}
      .suite{text-align: right; margin: 10px 0;
        a{text-decoration: none; color:@violet;}
      }
      .footer-info{
        position: absolute;
        bottom:6px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        color:#999;
        padding-top:20px;
        p{
          font-size: 16px;
          left:5px;
          margin-right: 24px;
        &:nth-of-type(2){text-align: right;}}
      }
    }
  }


//  ------ FRANCE ------ //

#france{
  p{
  text-align: center;
  color:#3a3a3a;font-size: 20px;
  }
  ul{
    text-align: center;
    padding-left:0;
    margin: 30px 0 60px;
    li{display:inline-block;
    span{
      transform: translateY(12px);
      margin:0 20px;
      width:40px;
      height:40px;
      border-radius: 30px;
      display: inline-block;
      }
    }
  }
}

// ------ CONTACT ---- ////

#content_form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  padding:60px 60px 0 25px;
  height: 800px;
  h2{margin-left: -20px;}
  h3{font-size:24px;font-weight:500;color:#999}
  ul li{
      display: inline;
      a{
      font-size: 28px;
      padding:15px;
      }
    }
  p, a{
    font-size: 24px;
    color: #3a3a3a;
    line-height: 1.93;
    text-decoration: none;
  }
  a:hover{
    color:@violet;
  }
}

#newsletter input[type="email"],
#form input[type="text"],
#form input[type="email"],
#form textarea,
#form button[type="submit"] {
  font: 400 18px "Roboto", Helvetica, Arial, sans-serif;
}

#form {
  width:90%;
  padding: 25px;
  height:100%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 20px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form input[type="text"],
#newsletter input[type="email"],
#form input[type="email"],
#form textarea {
  width: 100%;
  border:none;
  border-bottom: 1px solid #ccc;
  background: none;
  margin: 0 0 5px;
  padding: 10px;
}

#form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: @vlight;
  color: #FFF;
  margin: 25px 0 5px;
  padding: 10px;
  font-size: 18px;
  &:hover {
    background: @violet;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  &:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
}

#form input:focus, #form textarea:focus, #newsletter input:focus{
    outline: none;
    border-bottom: 1px solid @violet;
}

// ------ FOOTER ---- ////
footer{
  padding: 30px 15px 15px;
  background-color: #1E1E1E;
  color:#fff;
  #footer-top{
    #newsletter form{
      display:flex;
      flex-direction:row;
      border-bottom: 1px solid #ccc;
      input {
        flex-grow:2;
        border:none;
        color:#fff;
      }
      svg{
        width: 20px;
        height: 50px;
        cursor: pointer;
        path:hover{fill:#fff;}
      }
    }
    padding: 0 60px;
    .list-abt{
      transform: translateY(-50px);
    }
    display: grid;
    align-items: center;
    grid-column-gap: 4em;
    grid-template-columns:30% 60%;
    .footer-list  {
      img{width:130px;
      transform: translateY(10px);}
      margin-bottom: 0;
      list-style: none;
      padding:15px 0 0 0;
      display: flex;
      justify-content: space-around;
      text-align: center;
      li{text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        a{color:#fff;text-decoration: none; }
        display: inline-block;
        vertical-align: text-top;
        padding: 10px;
        margin:0;
        ul{
          padding-left:5px;
          display: block;
          margin: 20px 0;
          text-align: left;
          li{ display: block;
            text-transform: none;
            a{
            text-decoration: none;
            color: #a3a3a3;
            font-weight: 300;
            &:hover{color:#fff;}
            }
          }
        }
      }
    }
  }
  #footer-bot{
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    ul{text-align: right;
    }
    p{color: #a3a3a3;}
    .fab{
      color:#a3a3a3;
      font-size: 24px;
      &:hover{color:#fff;}
    }
  }
  img{
    width: 160px;
    padding: 10px;
  }
  ul{ margin:40px 0;
    li{
    display: inline;
    margin: 10px;
    padding:10px 0;
    }
  }
  hr{margin: 10px 30px;}
}

@media (min-width: 992px) and (max-width:1200px) {
  #content{width: 100%;
    .abt{width: 100%;}
  }
}

@media (max-width: 992px) {
  #content{width: 100%;
    .fct .mockup{
      .rellax{position: inherit; left:0;}
      img:first-of-type{display:none;}
      }
    }
  .core-nav-toggle{color:#fff;}
  .core-nav .menu li a {color:@violet !important;}
  .core-nav .dropdown>.dropdown-menu{background: #fff;}
  .core-responsive-slide.open .core-nav .wrap-core-nav-list{background-color:#fff};
    nav .full-container, nav .nav-container {
        padding-left: 0;
        padding-right: 0;
    }
    nav .nav-header {
        min-height: 60px;
        .brand {
            margin: 0 auto 5px;
            float: none;
        }
        .toggle-bar {
            font-size: 18px;
            position: absolute;
            top: 17px;
            left: 15px;
        }
        .menu li a {
            padding: 10px 10px;
            border-bottom: solid 1px #efefef;
        }
    }
    .abt{width: 100%;}


}

@media (max-width: 768px) {
  .mockup{display: none;}
  #content{

    .fct{grid-template-columns: 1fr;
      padding: 50px 0;
    }
  }
  footer{
    hr{display:none;}
    #footer-top{
      #newsletter{
        order:2;
      }
      .footer-list{display: inline-block; text-align: left; li{width:200px;} .list-abt{margin-top: 20px;}}
    grid-template-columns: 1fr;
    grid-template-rows: 70% auto;
    }
  }
}
